.main {
    display: inline-block;
    margin-top: 100px;
    margin-left: 400px;
}

h1 {
    color: rgb(211, 52, 73);
    margin-left: 10px;
}

.btn-container {
    text-align: center;
    margin-left: 50px;
}
  
.btn {
    background-color: rgb(61, 69, 185);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: 900px;
}
  
.btn:active {
    transform: translateY(2px);
}

.container {
    margin-left: 400px;
    margin-top: 20px;
    display: flex;
}
  
#img {
    width: 700px;
    border-radius: 10px;
}

#map-container {
    margin-left: 50px;
    height: 250px;
    width: 300px;
    border-radius: 10px;
}

.description {
    margin-top: 20px;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 400px;
    margin-right: 810px;
}

.description p {
    color: rgb(95, 95, 95);
}

  